.wt-app {
  max-width: 1170px;
  margin: 0 auto;
  padding: rem(90) rem(30);
  display: flex;
  gap: rem(30);
  justify-content: center;
  flex-direction: column;
}

.wt-app__header {
  a {
    text-decoration: none;
    position: relative;
    display: inline-block;

    &:focus {
      outline: 0;

      &::after {
        outline: 4px solid wt-color(grey-800);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(0);
      right: rem(-10);
      bottom: rem(0);
      left: rem(-10);
    }
  }

  h1 {
    color: wt-color(grey-800);
  }
}

.wt-app__main {}

.wt-app__footer {
  text-align: center;
}